
{{> header }}

<h1>Mis feeds</h1>

<p class="lead">Feeds para calendarios externos</p>

{{> show_flash_messages }}

<div class="row">

  <div class="col-md-6">

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-12">

        <p class="description-paragraph">Comparta sus datos de TimeOff.Management con proveedores externos de calendarios como Microsoft Outlook, Apple Calendar (iCal) o Google Calendar.</p>

        <p class="description-paragraph">Proporcionamos dos fuentes de:</p>
        <p class="description-paragraph">
          Página <a href="/calendar/">Mi Calendario</a> - proporciona todos los datos de la página de calendario.
        </p>
        <p class="description-paragraph">
          Página <a href="/teamview/">Vista de Grupo</a> - proporciona los datos de la vista de grupo del mes en curso.
        </p>

        <p class="description-paragraph">Para exportar un feed en particular en su aplicación de calendario por defecto, pulse en el enlace correspondiente.</p>

        <p class="description-paragraph">En otro caso, copie la dirección del enlace en la aplicación externa.</p>

      </div>
    </div>

    <div class="row feeds-holder">


      <div class="col-md-5 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">Feed de Mi calendario <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

      <div class="col-md-5 col-md-offset-2 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{team_view_feed.feed_token}}/ical.ics">Feed de Vista de Grupo <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{team_view_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

    </div>
  </div>


  <div class="col-md-6">
    <div class="row feed-calendar-big-picture-holder">
      <i class="fa fa-calendar feed-calendar-big"></i>
    </div>
  </div>



</div>

{{> footer }}
