
{{> header }}

<h1>Autenticación en LDAP</h1>

<p class="lead">Detalles de la autenticación en LDAP</p>

{{> show_flash_messages }}

<div class="row main-row_header">
  <p class="col-md-12">Descripción</p>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <p>TimeOff.Management soporta la autenticación por LDAP para clientes que desean integrar su aplicación con el resto de su infraestructura. La razón obvia es permitir que los usuarios reutilicen sus credenciales de directorio activo en TimeOff.Management.</p>

    <p>Ésta página le permite configurar TimeOff.Management para que se comunique con su servidor LDAP.</p>

    <p>Tenga en cuenta que los empleados han de utilizar su <strong>email de LDAP</strong> con su <strong>contraseña de LDAP</strong> (en lugar de su usuario). Esto es debido a la naturaleza multi-empresa de la aplicación TimeOff.Management que permite albergar más de una compañía con una única instalación.</p>

    <p>El formulario que aparece debajo tiene ejemplos de configuración de TimeOff.Management para utilizar el servidor LDAP descrito en <a href="http://www.forumsys.com/en/tutorials/integration-how-to/ldap/online-ldap-test-server/">here</a>.</p>

  </div>

</div>

<div class="row main-row_header">
  <p class="col-md-12">Configuración</p>
</div>

<div class="row">

  <div class="col-md-12">

    <form class="form-horizontal" action="" method="post">

      <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
        <label for="ldap_auth_enabled" class="control-label">
          <input
            id="ldap_auth_enabled"
            type="checkbox"
            {{# if company.ldap_auth_enabled }} checked="checked" {{/if}}
            name="ldap_auth_enabled"
           />&nbsp;
           Habilitar la autenticación en LDAP
          </label>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <label for="ldap_url" class="col-md-3 control-label">URL del servidor LDAP</label>
        <div class="col-md-5">
          <input class="form-control" id="ldap_url" placeholder="ldap://ldap.forumsys.com:389" name="url" value="{{ldap_config.url}}" aria-describedby="ldap_url_help" >
        </div>
        <span id="ldap_url_help" class="help-block">La URL ha de contener el protocolo y el puerto</span>
      </div>

      <div class="form-group">
        <label for="ldap_bindn" class="col-md-3 control-label">BindDN</label>
        <div class="col-md-5">
          <input class="form-control" id="ldap_bindn" placeholder="cn=read-only-admin,dc=example,dc=com" name="binddn" value="{{ ldap_config.binddn }}">
        </div>
      </div>

      <div class="form-group">
        <label for="ldap_password" class="col-md-3 control-label">Credenciales de Bind</label>
        <div class="col-md-5">
          <input class="form-control" id="ldap_password" placeholder="" name="bindcredentials" value="{{ ldap_config.bindcredentials }}" type="password" aria-describedby="ldap_password_help">
        </div>
        <span id="ldap_password_help" class="help-block">Contraseña utilizada para realizar las consultas a LDAP</span>
      </div>

      <div class="form-group">
        <label for="ldap_search_base" class="col-md-3 control-label">Base de búsqueda</label>
        <div class="col-md-5">
          <input class="form-control" id="ldap_search_base" placeholder="dc=example,dc=com" name="searchbase" value="{{ ldap_config.searchbase }}">
        </div>
      </div>

      <hr/>

      <p class="col-md-offset-2">Para evitar situaciones en las que la cuenta de la compañía esté bloqueada, el administrador actual (<strong>{{# with logged_user}}{{this.full_name}}{{/with}}</strong>) tiene que introducir la contraseña asociada con su email del servidor LDAP.</p>
      <p class="col-md-offset-2"> Ésto es sólo para asegurarse de que <strong>{{# with logged_user}}{{this.full_name}}{{/with}}</strong> puede logarse en TimeOff.Management con la nueva configuración de LDAP.</p>

      <hr/>

      <div class="form-group">
        <label for="current_user_password" class="col-md-3 control-label">Mi contraseña de LDAP</label>
        <div class="col-md-5">
          <input class="form-control" id="current_user_password" placeholder="" name="password_to_check" value="" type="password" aria-describedby="current_user_password_help">
        </div>
        <span id="current_user_password_help" class="help-block">Contraseña de <strong>{{# with logged_user}}{{this.full_name}}{{/with}}</strong> en el nuevo servidor LDAP.</span>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-5">
          <button id="submit_registration" type="submit" class="pull-right btn btn-success">Salvar la configuración de LDAP</button>
        </div>
      </div>

    </form>


  </div>

</div>


{{> footer }}
